
.zone {
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


*{
  margin: 0;
  padding: 0;

}
.load {
  animation: slide 2s;

}

.slider{
  width: 100%;
  height: 100vh;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slides 20s linear infinite;
}

.content{
  color: #fff;
  width: 100%;
  height: 100%;
}

.principal{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  letter-spacing: 3px;
}
.principal h2{
  text-align: center;

  position: absolute;
}

@keyframes slides {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("https://i.ibb.co/T0PxyCQ/TLI-45.jpg");
  }
  20% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("https://i.ibb.co/T0PxyCQ/TLI-45.jpg");
  }
  20.01% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("https://i.ibb.co/cCQvxMM/TLI-46.jpg");
  }

  40% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("https://i.ibb.co/cCQvxMM/TLI-46.jpg");
  }
  40.01% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("https://i.ibb.co/8BxFCV7/TLI-48.jpg");
  }
  60% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("https://i.ibb.co/crg8myV/TLI-66.jpg");
  }

  60.01% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("https://i.ibb.co/crg8myV/TLI-66.jpg");
  }
  80% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("https://i.ibb.co/89S1yLF/TLI-68.jpg");
  }

  80.01% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("https://i.ibb.co/89S1yLF/TLI-68.jpg");
  }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("https://i.ibb.co/D5yR3sn/TLI-71.jpg");
  }

}










#home h1 {
  font-family: "Kaushan Script", cursive;
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 1.3;
  font-weight: 300;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
#home h1 span {
  padding: 4px 15px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #home h1 {
    font-size: 34px;
  }
#home span:before {
    top: 28px;
    width: 20px;
    height: 3px;
    margin-left: -15px;
  }
#home h1 span:after {
    top: 28px;
    width: 20px;
    height: 3px;
    margin-right: -15px;
  }
}
